USE [master]
GO
/****** Object:  Database [ListaDePalabras]    Script Date: 17/6/2026 08:55:46 ******/
CREATE DATABASE [ListaDePalabras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ListaDePalabras', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ListaDePalabras.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ListaDePalabras_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ListaDePalabras_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ListaDePalabras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ListaDePalabras]
GO
/****** Object:  User [alumno]    Script Date: 17/6/2026 08:55:46 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Palabra]    Script Date: 17/6/2026 08:55:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabra](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[palabra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Palabra] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Palabra] ON 

INSERT [dbo].[Palabra] ([ID], [palabra]) VALUES (1, N'TENTACION')
INSERT [dbo].[Palabra] ([ID], [palabra]) VALUES (2, N'ONOMATOPEYA')
INSERT [dbo].[Palabra] ([ID], [palabra]) VALUES (3, N'LEVITICO')
SET IDENTITY_INSERT [dbo].[Palabra] OFF
GO
USE [master]
GO
